Options -MultiViews
RewriteEngine On
RewriteBase /

# 1. External Redirect: /filename.php -> /filename
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(.+)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]

# 2. Internal Rewrite: /filename -> /filename.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^.]+)/?$ $1.php [L]

# Specific Page Redirects
Redirect 301 '/about' 'https://rajhospitals.com/about'


Redirect 301 '/aesthetic-&-reconstructive-surgery' 'https://rajhospitals.com/specialties/aesthetic-and-reconstructive-surgery'
Redirect 301 '/cardiologist-and-heart-specialist-ranchi' 'https://rajhospitals.com/specialties/cardiology'
Redirect 301 '/critical-care' 'https://rajhospitals.com/specialties/critical-care'
Redirect 301 '/dental-surgeon-ranchi' 'https://rajhospitals.com/specialties/dental'
Redirect 301 '/dermatologist-ranchi' 'https://rajhospitals.com/specialties/dermatology'
Redirect 301 '/general-and-laparoscopic-surgery-ranchi' 'https://rajhospitals.com/specialties/minimal-access-surgery'
Redirect 301 '/gastroenterology-ranchi' 'https://rajhospitals.com/specialties/gastroenterology'
Redirect 301 '/eye-hospital-ranchi' 'https://rajhospitals.com/specialties/eye-care'
Redirect 301 '/ent-specialist' 'https://rajhospitals.com/specialties/ent'
Redirect 301 '/internal-medicine' 'https://rajhospitals.com/specialties/internal-medicine'
Redirect 301 '/nephrologist-ranchi' 'https://rajhospitals.com/specialties/nephrology'
Redirect 301 '/neurologist-ranchi' 'https://rajhospitals.com/specialties/neurosciences'
Redirect 301 '/maternity-and-gynecologist-ranchi' 'https://rajhospitals.com/specialties/obstetrics-and-gynaecology'
Redirect 301 '/oral-&-maxillofacial-surgery' 'https://rajhospitals.com/specialties/oral-maxillofacial-surgery-ad'
Redirect 301 '/emergency-medicine' 'https://rajhospitals.com/specialties/emergency'
Redirect 301 '/oncologist-and-cancer-specialist-ranchi' 'https://rajhospitals.com/specialties/oncology-cancer-care'
Redirect 301 '/orthopedic-and-joint-replacement-surgery-ranchi' 'https://rajhospitals.com/specialties/orthopaedics-and-joint-replacement'
Redirect 301 '/pediatrician-specialists-ranchi' 'https://rajhospitals.com/specialties/pediatrics-and-neonatology'
Redirect 301 '/pulmonology-specialists-ranchi' 'https://rajhospitals.com/specialties/pulmonology'
Redirect 301 '/physiotherapy-department' 'https://rajhospitals.com/specialties/physiotherapy-and-rehabilitation'
Redirect 301 '/urologist-ranchi' 'https://rajhospitals.com/specialties/urology'
Redirect 301 '/career' 'https://rajhospitals.com/careers'
Redirect 301 '/cervical-pain-symptoms-in-hindi.php' 'https://rajhospitals.com/blog/cervical-cancer-symptoms-in-hindi/'