Options -MultiViews
RewriteEngine On
RewriteBase /

# Redirect /blog/index or /blog/index/ to /blog/
RewriteRule ^blog/index/?$ /blog/ [R=301,L]

# 1. External Redirect: /filename.php -> /filename
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(.+)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]

# 2. Internal Rewrite: /filename -> /filename.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^.]+)/?$ $1.php [L]











# Dr Profile Redirection 
Redirect 301 'dr-abhay-kr-pandey' 'https://rajhospitals.com/doctors/abhay-pandey'
Redirect 301 '/dr-abhishek-bhattacharjee' 'https://rajhospitals.com/doctors/abhishek-bhattacharjee'
Redirect 301 '/dr-abhishek-roy' 'https://rajhospitals.com/doctors/abhishek-roy'
Redirect 301 '/dr-a-k-agarwal' 'https://rajhospitals.com/doctors/ak-agarwal'
Redirect 301 '/dr-a-k-sinha' 'https://rajhospitals.com/doctors/ak-sinha'
Redirect 301 '/bio-medical-waste-report' 'https://rajhospitals.com/biomedical-waste-reports'
Redirect 301 '/news' 'https://rajhospitals.com/news-media'
Redirect 301 '/rachi-news' 'https://rajhospitals.com/news-media'
Redirect 301 '/general-and-laparoscopic-surgery-ranchi' 'https://rajhospitals.com/specialties/minimal-access-surgery'
Redirect 301 '/dr-ahmad-hussain' 'https://rajhospitals.com/doctors/ahmad-hussain'
Redirect 301 '/dr-pushpa-sinha' 'https://rajhospitals.com/doctors/pushpa-sinha'
Redirect 301 '/dr-mozammil-pheroz' 'https://rajhospitals.com/doctors/mozammil-pheroz'
Redirect 301 '/dr-sunil-kumar' 'https://rajhospitals.com/doctor-profile?id=sunil-kumar'
Redirect 301 '/dr-vivek-raj' 'https://rajhospitals.com/doctors/vivek-raj'
Redirect 301 '/dr-rajesh-kumar-jha' 'https://rajhospitals.com/doctors/rajesh-jha'
Redirect 301 '/dr-ravish-ranjan' 'https://rajhospitals.com/doctors/ravish-ranjan'
Redirect 301 '/dr-prakash-chandra' 'https://rajhospitals.com/doctors/prakash-chandra'
Redirect 301 '/dr-ravish-ranjan' 'https://rajhospitals.com/doctors/ravish-ranjan'
Redirect 301 '/dr-rajesh-kumar-jha' 'https://rajhospitals.com/doctors/rajesh-jha'
Redirect 301 '/dr-vivek-raj' 'https://rajhospitals.com/doctors/vivek-raj'
Redirect 301 '/dr-ashish-kumar' 'https://rajhospitals.com/doctors/ashish-modi'
Redirect 301 '/dr-a-k-sinha' 'https://rajhospitals.com/doctors/ak-sinha'
Redirect 301 '/dr-mozammil-pheroz' 'https://rajhospitals.com/doctors/mozammil-pheroz'
Redirect 301 'https://rajhospitals.com/dr-suprova-chakraborty' 'https://rajhospitals.com/doctors/suprova-chakraborty'
Redirect 301 '/dr-p-k-raina' 'https://rajhospitals.com/doctors/pk-raina'
Redirect 301 '/dr-neelam' 'https://rajhospitals.com/doctors/neelam-kumari'
Redirect 301 '/dr-piyali-banerjee' 'https://rajhospitals.com/doctors/piyali-banerjee'
Redirect 301 '/dr-mohib-ahmed' 'https://rajhospitals.com/doctors/mohib-ahmed'


Redirect 301 '/dr-fuzail-sarwer.php' 'https://rajhospitals.com/doctors/fuzail-sarwer'
Redirect 301 '/dr-shyam-prasad.php' 'https://rajhospitals.com/doctors/shyam-prasad'
Redirect 301 '/dr-vivek-raj.php' 'https://rajhospitals.com/doctors/vivek-raj'
Redirect 301 '/dr-piyali-banerjee.php' 'https://rajhospitals.com/doctors/piyali-banerjee'
#Redirect 301 '' ''
#Redirect 301 '' ''
#Redirect 301 '' ''
#Redirect 301 '' ''
#Redirect 301 '' ''
#Redirect 301 '' ''
#Redirect 301 '' ''
#Redirect 301 '' ''
#Redirect 301 '' ''
#Redirect 301 '' ''
#Redirect 301 '' ''




# Specific Page Redirects


Redirect 301 '/aesthetic-&-reconstructive-surgery' 'https://rajhospitals.com/specialties/aesthetic-and-reconstructive-surgery'
Redirect 301 '/cardiologist-and-heart-specialist-ranchi' 'https://rajhospitals.com/specialties/cardiology'
Redirect 301 '/critical-care' 'https://rajhospitals.com/specialties/critical-care'
Redirect 301 '/dental-surgeon-ranchi' 'https://rajhospitals.com/specialties/dental'
Redirect 301 '/dermatologist-ranchi' 'https://rajhospitals.com/specialties/dermatology'
Redirect 301 '/general-and-laparoscopic-surgery-ranchi' 'https://rajhospitals.com/specialties/minimal-access-surgery'
Redirect 301 '/gastroenterology-ranchi' 'https://rajhospitals.com/specialties/gastroenterology'
Redirect 301 '/eye-hospital-ranchi' 'https://rajhospitals.com/specialties/eye-care'
Redirect 301 '/ent-specialist' 'https://rajhospitals.com/specialties/ent'
Redirect 301 '/internal-medicine' 'https://rajhospitals.com/specialties/internal-medicine'
Redirect 301 '/nephrologist-ranchi' 'https://rajhospitals.com/specialties/nephrology'
Redirect 301 '/neurologist-ranchi' 'https://rajhospitals.com/specialties/neurosciences'
Redirect 301 '/maternity-and-gynecologist-ranchi' 'https://rajhospitals.com/specialties/obstetrics-and-gynaecology'
Redirect 301 '/oral-&-maxillofacial-surgery' 'https://rajhospitals.com/specialties/oral-maxillofacial-surgery-ad'
Redirect 301 '/emergency-medicine' 'https://rajhospitals.com/specialties/emergency'
Redirect 301 '/oncologist-and-cancer-specialist-ranchi' 'https://rajhospitals.com/specialties/oncology-cancer-care'
Redirect 301 '/orthopedic-and-joint-replacement-surgery-ranchi' 'https://rajhospitals.com/specialties/orthopaedics-and-joint-replacement'
Redirect 301 '/pediatrician-specialists-ranchi' 'https://rajhospitals.com/specialties/pediatrics-and-neonatology'
Redirect 301 '/pulmonology-specialists-ranchi' 'https://rajhospitals.com/specialties/pulmonology'
Redirect 301 '/physiotherapy-department' 'https://rajhospitals.com/specialties/physiotherapy-and-rehabilitation'
Redirect 301 '/urologist-ranchi' 'https://rajhospitals.com/specialties/urology'
Redirect 301 '/career' 'https://rajhospitals.com/careers'
Redirect 301 '/skin-specialist-doctor-ranchi' 'https://rajhospitals.com/specialties/dermatology'
Redirect 301 '/cervical-pain-symptoms-in-hindi' 'https://rajhospitals.com/blog/cervical-pain-symptoms-in-hindi/'




RewriteEngine On

# Remove trailing slash after /blog/
RewriteCond %{REQUEST_URI} ^/blog/.+/$
RewriteRule ^(.*)/$ /$1 [R=301,L]

# Internally load .php file without showing .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+?)/?$ $1.php [L]
